.barra-navegacion {
    background-color:#f8f9fa;
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacion {
    max-width: 1200px;
}

.logo {
    height: 100px;
    left: 0;
}




